       /* Estilos generales para centrar contenido y aplicar colores */
       body {
        margin: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        background-color: #f5f5f5; /* Color de fondo */
        font-family: 'Mulish', Arial, sans-serif; /* Tipografía */
    }

    #ComenzarButton {
        background-color: #e74c3c; /* Color verde pastel */
        color: rgb(255, 255, 255); /* Color del texto del botón */
        border: none;
        padding: 15px 30px; /* Mayor tamaño del botón */
        border-radius: 20px; /* Mayor redondez */
        cursor: pointer;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra */
        transition: background-color 0.3s; /* Transición de color al pasar el mouse */
    }

    #ComenzarButton:hover {
        background-color: #d64737; /* Color de fondo del botón al pasar el mouse */
    }

    #ComenzarButton:active {
        background-color: #b33a2d; /* Color de fondo del botón al hacer clic */
    }


    /* Estilos para el mensaje de bienvenida */
    #MensajeBienvenida {/*elige tu nivel*/
        display: none; /* Inicialmente oculto */
        text-align: left; /* Texto a la izquierda */
        background-color: transparent; /* Fondo transparente */
        border: none; /* Sin borde */
        margin-top: 5px;
    }

    #BienvenidaUsuario { 
        font-size: 18px; /* Tamaño de fuente más pequeño */
        color: black; /* Color de texto negro */
        margin-top: 8px;
        margin-bottom: 15px;

    }

    /* Estilos para el div de ingreso de nombre */
    #Divuser {
        text-align: center;
        background-color: #e74c3c; /* Color de fondo */
        padding: 20px;
        border: 2px solid #ccc; /* Borde gris */
        border-radius: 20px; /* Mayor redondez */
        margin-top: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra */
    }

    h2 {
        font-size: 20px;
        color: rgb(255, 255, 255); /* Color del título */
    }

    input {
        font-size: 16px;
        padding: 10px;
        border: none;
        border-radius: 20px; /* Mayor redondez */
        margin: 10px 0;
        background-color: #eee; /* Relleno gris claro */
    }

    #AceptarButton {
        background-color: #c7ea46; /* Color verde pastel */
        color: rgb(74, 74, 74); /* Color del texto del botón */
        border: none;
        padding: 15px 30px; /* Mayor tamaño del botón */
        border-radius: 20px; /* Mayor redondez */
        cursor: pointer;
        transition: background-color 0.3s; /* Transición de color al pasar el mouse */
    }

    #AceptarButton:hover {
        background-color: #a6d834; /* Color de fondo del botón al pasar el mouse */
    }

    #AceptarButton:active {
        background-color: #89c01f; /* Color de fondo del botón al hacer clic */
    }

    #Nivel {
        color:rgba(0, 0, 0, 1);
        text-align: center;
    }

    #PrincipianteButton {
        background-color: #e74c3c; /* Color verde pastel */
        color: rgb(255, 255, 255); /* Color del texto del botón */
        border: none;
        padding: 15px 30px; /* Mayor tamaño del botón */
        border-radius: 20px; /* Mayor redondez */
        cursor: pointer;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra */
        transition: background-color 0.3s; /* Transición de color al pasar el mouse */
    }

    #PrincipianteButton:hover {
        background-color: #d64737; /* Color de fondo del botón al pasar el mouse */
    }

    #PrincipianteButton:active {
        background-color: #b33a2d; /* Color de fondo del botón al hacer clic */
    }

    #MedioButton {
        background-color: #e74c3c; /* Color verde pastel */
        color: rgb(255, 255, 255); /* Color del texto del botón */
        border: none;
        padding: 15px 30px; /* Mayor tamaño del botón */
        border-radius: 20px; /* Mayor redondez */
        cursor: pointer;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra */
        transition: background-color 0.3s; /* Transición de color al pasar el mouse */
    }

    #MedioButton:hover {
        background-color: #d64737; /* Color de fondo del botón al pasar el mouse */
    }

    #MedioButton:active {
        background-color: #b33a2d; /* Color de fondo del botón al hacer clic */
    }

    #ExpertoButton {
        background-color: #e74c3c; /* Color verde pastel */
        color: rgb(255, 255, 255); /* Color del texto del botón */
        border: none;
        padding: 15px 30px; /* Mayor tamaño del botón */
        border-radius: 20px; /* Mayor redondez */
        cursor: pointer;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra */
        transition: background-color 0.3s; /* Transición de color al pasar el mouse */
    }

    #ExpertoButton:hover {
        background-color: #d64737; /* Color de fondo del botón al pasar el mouse */
    }

    #ExpertoButton:active {
        background-color: #b33a2d; /* Color de fondo del botón al hacer clic */
    }

    .grilla {
      display: grid;
      grid-template-columns: repeat(6, 1fr); /* 6 columnas iguales. 
                                                1fr significa "fracción de espacio disponible". 
                                                Cada columna ocupará una fracción igual del espacio disponible en el contenedor de la cuadrícula. */
      
      gap: 15px; /* Espacio entre las imágenes */
    }

    .imagen-dorso {
        position: absolute;
        top: 1;
        display: none; /* Invisible al principio */
        z-index: 2; /* z-index superior */
        max-width: 70px;
        max-height: 70px; 
        width: auto;
        height: auto;
    }
    
    /* tamaño máximo para las imágenes en las filas y columnas */
    .fila img, .columna img {
        max-width: 70px; 
        max-height: 70px; 
        margin-bottom: 10px;
        width: auto;
        height: auto;
        z-index: 1; /* Z-index inferior al de la imagen-dorso */
    }
  




  
  
  