       /* Estilos generales para centrar contenido y aplicar colores */
body {
    background-color: rgb(125, 0, 0); 
    color: rgb(255, 255, 255);
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Mulish', Arial, sans-serif; /* Tipografía */
}


#BienvenidoA {
    font-weight: light;
    font-size: 25px;
    text-align: center;
}

#Memo-lam {
    font-weight: bold;
    font-size: 40px;
}

#ComenzarButton {
    background-color: #000000; /* Color rojo claro */
    color: rgb(255, 255, 255); /* Color del texto del botón */
    border: none;
    padding: 20px 35px; /* Mayor tamaño del botón */
    border-radius: 20px; /* Mayor redondez */
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra */
    transition: background-color 0.3s; /* Transición de color al pasar el mouse */
    font-size: 25px;
}

#ComenzarButton:hover {
    background-color: rgb(54, 6, 0); /* Color de fondo del botón al pasar el mouse */
}

#ComenzarButton:active {
    background-color: #1f0300; /* Color de fondo del botón al hacer clic */
}

button:hover{/* cursor */
    cursor: pointer;
}
/* Estilos para el mensaje de bienvenida */
#MensajeBienvenida {/* elige tu nivel */
    display: none; /* Inicialmente oculto */
    text-align: left; /* Texto a la izquierda */
    border: none; /* Sin borde */
    margin-top: 5px;
}

#BienvenidaUsuario { 
    font-size: 30px; /* Tamaño de fuente */
    color: rgb(241, 199, 199); /* Color de texto */
    margin-top: 70px;
    font-size: 25px;
}

/* Estilos para el div de ingreso de nombre */
#Divuser {
    text-align: center;
    background-color: rgba(255,255,255,0.2);
    padding: 20px;
    border-radius: 20px;
    border: 3px solid #000000; /* Borde blanco */
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra */
}

#Nombre {
    text-shadow: 2px 3px 4px rgb(0, 0, 0, 0.3);
}

h2 {
    font-size: 30px;
    color: rgb(255, 255, 255); /* Color del título blanco */
}

input {
    font-size: 20px;
    padding: 15px 30px;
    border: 3px;
    border-color: #000000;
    border-radius: 20px; /* Mayor redondez */
    color: rgb(34, 34, 34);
    background-color: #ffffffe5; /* Relleno */
}

#AceptarButton {
    background-color: #ef3232; /* Color rojo */
    color: rgb(255, 255, 255); /* Color del texto del botón */
    border: none;
    padding: 10px 30px; /* Mayor tamaño del botón */
    border-radius: 20px; /* Mayor redondez */
    cursor: pointer;
    transition: background-color 0.3s; /* Transición de color al pasar el mouse */
    font-size: 25px;
}

#AceptarButton:hover {
    background-color: #d32c2c; /* Color de fondo del botón al pasar el mouse */
    color: rgb(255, 255, 255); /* Color del texto del botón */
}

#AceptarButton:active {
    background-color: #a82323; /* Color de fondo del botón al hacer clic */
    color: rgb(255, 255, 255); /* Color del texto del botón */
}

#ElegirNivel {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 45px;
}

#PrincipianteButton {
    background-color: #ffe100; /* Color amarillo */
    color: rgb(0, 0, 0); /* Color del texto del botón */
    padding: 15px 30px; /* Mayor tamaño del botón */
    border-radius: 20px; /* Mayor redondez */
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra */
    transition: background-color 0.3s; /* Transición de color al pasar el mouse */
    font-size: 25px;
        border: 3px;
    border-color: #000000;
}

#PrincipianteButton:hover {
    background-color: #d6b937; /* Color de fondo del botón al pasar el mouse */
}

#PrincipianteButton:active {
    background-color: #b3a12d; /* Color de fondo del botón al hacer clic */
}

#MedioButton {
    background-color: #e7863c; /* Color marroncito */
    color: rgb(0, 0, 0); /* Color del texto del botón */
    border: none;
    padding: 15px 30px; /* Mayor tamaño del botón */
    border-radius: 20px; /* Mayor redondez */
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra */
    transition: background-color 0.3s; /* Transición de color al pasar el mouse */
    font-size: 25px;
}

#MedioButton:hover {
    background-color: #d06908; /* Color de fondo del botón al pasar el mouse */
}

#MedioButton:active {
    background-color: #ff7b00; /* Color de fondo del botón al hacer clic */
}

#ExpertoButton {
    background-color: #ff1900; /* Color rojo */
    color: rgb(0, 0, 0); /* Color del texto del botón */
    border: none;
    padding: 15px 30px; /* Mayor tamaño del botón */
    border-radius: 20px; /* Mayor redondez */
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra */
    transition: background-color 0.3s; /* Transición de color al pasar el mouse */
    font-size: 25px;
}

#ExpertoButton:hover {
    background-color: #c51400; /* Color de fondo del botón al pasar el mouse */
}

#ExpertoButton:active {
    background-color: #7b0c00; /* Color de fondo del botón al hacer clic */
}

.grilla {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* 6 columnas iguales. 
                                            1fr significa "fracción de espacio disponible". 
                                            Cada columna ocupará una fracción igual del espacio disponible en el contenedor de la cuadrícula. */
  
  gap: 10px; /* Espacio entre las imágenes */
}

.imagen-dorso {
    position: absolute;
    top: 1;
    display: none; /* Invisible al principio */
    z-index: 2; /* z-index superior */
    max-width: 65px;
    max-height: 65px; 
    width: auto;
    height: auto;
}

/* tamaño máximo para las imágenes en las filas y columnas */
.fila img, .columna img {
    max-width: 60px; 
    max-height: 60px; 
    width: auto;
    height: auto;
    z-index: 1; /* Z-index inferior al de la imagen-dorso */
}

#puntaje {
    display: none;
    padding: 5px;
}

#Reloj {
    margin-top: 5px;
}
  
